
 
 @import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Poppins&family=Roboto&family=Slackside+One&family=Yuji+Hentaigana+Akari&display=swap');


         /*MENU*/


body{
    font-family:'Poppins', sans-serif; 
}
  
.Menu{
    background: linear-gradient(to right, rgb(68, 156, 233), rgb(196, 125, 227), rgb(105, 206, 102)  );
    font-family:'Poppins', sans-serif; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}


p{
  color:white ;
  font-size: 40px;
}
a{
  color: white;  
  text-decoration: none;
  font-size: 30px;  
  padding: 100px;
  margin: 20px;
}

        /*HERO*/
.Hero{
  background: linear-gradient(to right, rgb(68, 156, 233), rgb(196, 125, 227), rgb(105, 206, 102)  );
  font-family:'Poppins', sans-serif; 
  color: white;   
  text-align:center;
  }
  
h1{
  font-size: 150px;
  padding-left: 400px;  
  color: white;

  margin: 10px 0

}

h2{
  font-size: 60px;
  padding-left: 400px; 
  margin: 10px 0;
 }

.Boton{
  display: flex;
  justify-content: center;  
  
}
.Boton1{
    min-width: 30px;
    height: 40px;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid white;
    background: white;
  }
 
  .Boton1:hover {
    background-color: #EA4FE7;
    border:#EA4FE7;
    color: white;    
  }
.Iconos {
  font-size: 40px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-top: 20px;
  margin-left: 420px;
}

hr{
  display: block;
  width: 1px; /* Ancho vertical */
  height: 400px; /* Altura vertical */
  background-color: white; 
  margin: 20px;
  margin-top: 20px; /* Espacio superior */
  margin-bottom: 50px;
}


