
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Poppins&family=Roboto&family=Slackside+One&family=Yuji+Hentaigana+Akari&display=swap');
 
  
  *{
    margin: 0;
    padding: 0;
  }
        /*MENU*/

html{
  scroll-behavior: smooth;
}

.Hero{
  width: 100%;
  height: 150px; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  background: linear-gradient(to right, rgb(68, 156, 233), rgb(196, 125, 227), rgb(105, 206, 102)  );
  }


.logo{
  width: 30%; 
}

.titulo{
  font-size: 40px;
  text-align: center;
  color: white;
  font-family:'Poppins', sans-serif; 
}

.nav{
  width: 70%;
  font-family:'Poppins', sans-serif; 
  }

.navUl{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav .navUl .secciones{
 font-size: 25px;
 color: white;
 width: 40%;
 text-decoration: none;
 font-weight: bold;
 transition: #EA4FE7 0.3s;
 border-bottom: 2px solid transparent;
}

.nav .navUl .secciones:hover {
  color:#EA4FE7  ;
  border-bottom:  3px solid #BF35BC;
}

.main{
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 
  background: linear-gradient(to right, rgb(68, 156, 233), rgb(196, 125, 227), rgb(105, 206, 102)  );
}

.Iconos{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 220px;

}
.Iconos i{
  font-size: 30px;
  color: white;
}


.icono-behance:hover{
  color: blue;
}

.icono-instagram:hover{
  color:orange;
}
.icono-pinterest:hover{
  color:red
}


.boxNombre{
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  top: -50px;
  right: 60%;
}

.boxNombre h1{
  font-size: 50px;
  font-family:'Poppins', sans-serif; 
  color: white;
}

.boxNombre h2{
  font-size: 30px;
  font-family:'Poppins', sans-serif; 
  color: white;
}

hr{
  color: white;
}

button{
  font-family:'Poppins', sans-serif; 
    min-width: 130px;
    height: 40px;
    color: black;
    padding: 5px 10px;
    font-weight:lighter;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    background: white
  }
  button:hover {
    background:#EA4FE7;
    color: white;
  }

        /*SECCION SOBRE MI*/

.Sobremi{
background-color:white;
color: black;
}
.contenedorimagenes{
display: flex;
justify-content: center;

}
.imagen{
  width: 350px;
  margin: 40px 10px;
  transition: 0.5s;
  object-fit: cover;
}

.imagen:hover{
  transform: scale(1.2);
}


.Tituloydescripcion{
background-color:white;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: black;
font-family:'Poppins', sans-serif; 
}
span{
  font-weight: bold;
  font-size: 20px;
}

.Titulo{
  font-size: 40px;
  font-weight: bold;
  text-align:right;
  margin-right: 900px;
}

.descripcion{
  font-size: 20px;
  text-align:left;
  margin-right: 500px; 
  margin-left: 340px;
}

.botonmas{
  align-self: flex-start; 
  margin-left: 320px; 
  font-family:'Poppins', sans-serif; 
  min-width: 130px;
  height: 40px;
  color:#545454;
  padding: 5px 10px;
  font-weight:lighter;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: white;
  border: none;
  border-bottom: 2px solid #545454; 
   
}

.botonmas:hover{
  background:white;
  color:#EA4FE7;
}

/*FALTA CAMBIAR ANIMACION DE BOTON MAS"

             /*SECCION CONTACTO*/

.Imagendefondo {
  background-image: url(image/plaza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 100px 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.textocontacto{
  color: white;
  font-family:'Poppins', sans-serif; 
  margin-right: 20px;
  
}

/*POPUP_Contacto_Formulario .FALTA QUE EL TXT QUEDE DENTRO DEL CAMPO VER SI CORRESPONDE*/

section{
  background-color: white;  
 
}

.Formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  margin: 0 auto;   
  font-family:'Poppins', sans-serif; 
 
}  

h1{
  font-family:'Poppins', sans-serif; 
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  
}

.Formulario label {
  margin-bottom: 5px;
              
}

.Formulario input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
}

.Formulario button {
  width: 320px;
  padding: 10px 20px;
  background-color:black;
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Formulario button:hover {
  background-color:#EA4FE7;
}


.Formulario button:active {
  background-color: #BF35BC; 
  color: white; 
}




/*SECCION PORTFOLIO"* /
/*falta dar especio entre img"*/

.Galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.Portf{
  font-family:'Poppins', sans-serif; 
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  
}

.uno{
    width: 300px;
    height: 700px;      
    margin: 0 10px;
}
.uno:hover{
    transform: scale(1.2);
}

.dos{
    width: 600px;
    height: 500px;
    margin-bottom: 20px;
    padding: 0 10px;
}
.dos:hover{
  transform: scale(1.2);
}

.tres{
    width: 300px;
    height: 200px; 
    margin-bottom: 20px; 
    margin-right: 20px;
    
}
.tres:hover{
   transform: scale(1.2);
}
.cuatro{
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .cuatro:hover{
    transform: scale(1.2);
  }

.cinco{
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}

.cinco:hover{
  transform: scale(1.2);
}

.seis{
    width: 480px;
    height: 300px;
    margin: 0 10px;
    margin-right: 20px;
}

.seis:hover{
  transform: scale(1.2);
}

.siete{
    width: 450px;
    height: 300px;
}

.siete:hover{
  transform: scale(1.2);
}

.botonver{
  font-family:'Poppins', sans-serif; 
  min-width: 130px;
  height: 40px;
  color: white;
  padding: 5px 10px;
  font-weight:lighter;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-bottom: 50px;
  outline: none;
  background:#333333; 
  margin-right: -500px; 
}

.botonver:hover {
  background:#EA4FE7;
  color: white;
}

  .botonver:active {
    background-color: #BF35BC; 
    color: white; 
  }

/*FOOTER*/

.Contactame{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family:'Poppins', sans-serif; 
  align-items: center;
  padding: 50px;
  font-size: 20px;
  text-align: center;  
}

.Telefonoymail{
  flex-direction: column;
  justify-content:center;
}

.tel, .Mail {
  display: flex; 
  margin-bottom: 20px;
  margin-left: 100px;
  justify-content: center;
  
}
.mantenercontacto {
  margin-bottom: 30px;
  margin-left: 120px;
}
.txtredes {
  margin-bottom: 30px;
  margin-left: 30px;
}
.Redes i {
  margin: 20px; 
}

/*Agregar Hover para los icnonos*/

.icono-behance:hover{
  color: blue;
}

.icono-instagram:hover{
  color: orange;
}
.icono-pinterest:hover{
  color:red
}

.Redes .Copy {
  margin-top: 20px; 
  font-size: 14px;
}

.Contactarmail {
  margin-right: 150px;
  text-align: center;  
}

.Contactarmail form {
  display: flex;
  align-items: center; 
}

.Contactarmail label, .Contactarmail input,.Contactarmail button {
  
  height: 40px; 
  box-sizing: border-box;
  margin: 10px 5px; 
}

.Contactarmail label {
  flex: 0 0 90px;
}

.Contactarmail input {
  flex: 1; 
  border: 2px solid white;
  padding: 5px;
  background-color: black;
  color: white;
}
           /*Animacion del boton ENVIAR , normal, hover y press"*/

.Contactarmail button {
  flex: 0 0 auto; 
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s; 
}

.Contactarmail button:hover {
  background-color: #EA4FE7;
  color: white; 
}

.Contactarmail button:active {
  background-color: #BF35BC; 
  color: white; 
}




 