
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Poppins&family=Roboto&family=Slackside+One&family=Yuji+Hentaigana+Akari&display=swap');
 
  
  *{
    margin: 0;
    padding: 0;
  }
        /*MENU*/

.Menu{

  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(68, 156, 233), rgb(196, 125, 227), rgb(105, 206, 102)  );
}

.logo{
  width: 30%; 
}

.titulo{
  font-size: 40px;
  text-align: center;
  color: white;
  font-family:'Poppins', sans-serif; 
}

.nav{
  width: 70%;
  font-family:'Poppins', sans-serif;   
}

.navUl{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav .navUl .secciones{
 font-size: 25px;
 color: white;
 width: 40%;
 text-decoration: none;
 font-weight: bold;
}

.main{
  margin-top: 30px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(68, 156, 233), rgb(196, 125, 227), rgb(105, 206, 102)  );
}
.Iconos{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 220px;

}
.Iconos i{
  font-size: 30px;
  color: white;
}

.boxNombre{
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  top: -50px;
  right: 60%;
}

.boxNombre h1{
  font-size: 50px;
  font-family:'Poppins', sans-serif; 
  color: white;
}

.boxNombre h2{
  font-size: 30px;
  font-family:'Poppins', sans-serif; 
  color: white;
}

hr{
  color: white;
}

button{
  font-family:'Poppins', sans-serif; 
    min-width: 130px;
    height: 40px;
    color: black;
    padding: 5px 10px;
    font-weight:lighter;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    background: white
  }
  button:hover {
    background:#EA4FE7;
    color: white;
  }

        /*SECCION SOBRE MI*/

.Sobremi{
background-color:white;
color: black;
}
.contenedorimagenes{
display: flex;
justify-content: center;

}
.imagen{
  width: 350px;
  margin: 40px 10px;
  transition: 0.5s;
  object-fit: cover;
}

.imagen:hover{
  transform: scale(1.2);
}

.Tituloydescripcion{
background-color:white;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: black;
font-family:'Poppins', sans-serif; 
}
span{
  font-weight: bold;
  font-size: 20px;
 }

 .Titulo{
  font-size: 40px;
  font-weight: bold;
  text-align:right;
  margin-right: 900px;
 }

 .descripcion{
  font-size: 20px;
  text-align:left;
  margin-right: 500px; 
  margin-left: 340px;

 }
 .botonmas{
  align-self: flex-start; 
  margin-left: 320px;

  font-family:'Poppins', sans-serif; 
    min-width: 130px;
    height: 40px;
    color:#545454;
    padding: 5px 10px;
    font-weight:lighter;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    background: white;
    border: none;
    border-bottom: 2px solid #545454; 
   
 }

 .botonmas:hover{
  background:white;
  color:#EA4FE7;
  }
 

/*FALTA CAMBIAR ANIMACION DE BOTON MAS"

/*SECCION CONTACTO*/

.Imagendefondo {
  background-image: url(image/plaza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 100px 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.textocontacto{
  color: white;
  font-family:'Poppins', sans-serif; 
  margin-right: 20px;
  
}


/*SECCION PORTFOLIO"*/
/*falta dar especio entre img"*/

.Galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.Portf{
  font-family:'Poppins', sans-serif; 
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.uno{
    width: 300px;
    height: 700px;      
}
.uno:hover{
    transform: scale(1.2);
  }


  .dos{
    width: 600px;
    height: 500px;
}
.dos:hover{
  transform: scale(1.2);
}

.tres{
    width: 300px;
    height: 200px;    
}
.tres:hover{
  transform: scale(1.2);
}
.cuatro{
    width: 300px;
    height: 400px;
  }
  .cuatro:hover{
    transform: scale(1.2);
  }

.cinco{
    width: 300px;
    height: 400px;
}

.cinco:hover{
  transform: scale(1.2);
}
.seis{
    width: 450px;
    height: 300px;
}
.seis:hover{
  transform: scale(1.2);
}
.siete{
    width: 450px;
    height: 300px;
}
.siete:hover{
  transform: scale(1.2);
}
.botonver{
  font-family:'Poppins', sans-serif; 
  min-width: 130px;
  height: 40px;
  color: white;
  padding: 5px 10px;
  font-weight:lighter;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  outline: none;
  background:#333333; 
  margin-right: -500px; 
}

.botonver:hover {
  background:#EA4FE7;
  color: white;
  }

/*FOOTER*/

.Contactame{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family:'Poppins', sans-serif; 
  align-items: center;
  padding: 50px;
  font-size: 20px;
  text-align: center;
}

.telmail{
 margin-left: 150px;
 text-align: center;
}

.telmail i{
  display: block;
  margin-bottom: 10px;
}

.Contactarmail{
  margin-right: 150px;
 }

.Redes i{
  margin-right: 60px;
}

.txtredes, .mantenercontacto{
  margin-bottom: 30px;
}

.Copy{
  margin-top: 20px;
  font-size: 10px;
}






